* {
	margin:0;
	padding:0;
}
html {
	background:#eee;
	height:100%;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #565656;
	margin:0;
	padding:0;
	outline:none;
	line-height:16px;
	text-align:center;
}
body.popup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	margin:0;
	padding:0;
	outline:none;
	height:100%;
	background:#fff;
}
:focus {
	outline:none
}
form, img {
	border:0px;
	margin:0px;
	padding:0px;
	outline:none;
}
a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#003152;
	text-decoration:none;
}
a:hover {
	color:#000;
	text-decoration:underline;
}
input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
}
.headingBg {
	background:url(../images/heading-bg.gif) no-repeat;
	padding:0;
	margin:0px 0 18px 0px;
	float:left;
	//margin:0px 0 0px 0px;
}
.headingBg span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#95ba2e;
	padding:0 0 4px 0px;
	clear:both;
	margin:0px 0 12px 18px;
	border-bottom:0px solid #a5a5a5;
 	//padding:0 0 3px 0px;
 	//display:block;
	//margin:0px 0 12px 18px;
}


.headingBgHome {
	background:url(../images/heading-bg.gif) no-repeat;
	padding:0;
	margin:12px 0 18px 25px;
	float:left;
	//margin:12px 0 0px 25px;
}
.headingBgHome span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#565656;
	padding:0 0 4px 0px;
	clear:both;
	margin:0px 0 12px 18px;
	border-bottom:1px solid #a5a5a5;
 	//padding:0 0 3px 0px;
 	//display:block;
	//margin:0px 0 12px 18px;
}



h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	background:#eee;
	color:#003152;
	margin:0;
	padding:6px 0 6px 6px;
	clear:both;
	margin-top:0px;
	margin-bottom:10px;
	border-bottom:1px solid #999;
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
/**{zoom: 1.0;}*/
#wrapper {
	width:1003px;
	margin:0px auto;
	padding:0px;
	border:0px solid #f00;
	text-align:left; /* lower IE versions*/
	background:#FFF;
}
#topHead {
	width:1003px;
	margin:0;
	padding:0;
	border-bottom:3px solid #36597a;
	height:152px;
 //height:152px;
}
#logoEVS {
	width:224px;
	height:45px;
	margin:33px 0px 40px 25px;
	padding:0;
	float:left;
}
#logoSub {
	width:274px;
	height:45px;
	margin:31px 20px 42px 0px;
	padding:0;
	float:right;
}
*:first-child+html #logoSub {
	margin:31px 20px 0 0px;
	padding:0;
	float:right;
}
#midHomeLeftContainer {
	width:430px;
	height:250px;
	margin:0px;
	margin-right:50px;
	padding:7px 10px 0px 10px;
   *padding:7px 10px 0px 10px;
	background-color:#e0e4ed;
	float:left;
	_width:445px;
}
#midHomeRightContainer {
	width:430px;
	height:250px;
	padding:7px 10px 0px 10px;
 	*padding:7px 10px 0px 10px;
	background-color:#e3e3e3;
	float:;
	_width:445px;
}
#midHomeLeftContainer h1, #midHomeRightContainer h1 {
	margin:0;
	padding:0;
	color:#000;
	font-size:14px;
	background:none;
	font-weight:bold;
	padding:4px 0 8px 0;
}
.homeContent {
	background:#fff;
	padding:13px !important;
	height:182px;
}
.innerContainer {
	width:987px;
	_width:1003px;
	margin:0px;
	padding:0px;
	font-size:12px;
	color:#fff;
	clear:both;
	background:#fff;
}
.breadcrumb {
	padding:11px 0 0 24px;
	font-size:9px;
	color:#878786;
	clear:both;
	border:0px solid #2d2d2a;
	clear:both !important;
	display:block;
}
.breadcrumb a {
	color:#96b92d;
	text-decoration:none;
}
.breadcrumb a:hover {
	color:#878786;
	text-decoration:none;
}
/*Mid Section Layout CSS  */

#innerContainer {
	width:1003px;
	margin:0px;
	padding:0px;
	border:0px solid #f00;
	display:block;
	clear:both;
}
#rightContainer {
	width:1003px;
	margin:0px;
	padding:0px;
	border:0px solid #f00;
	float:right;
	min-height:470px;
	_height:470px;
}
#rightContainer h1 {
	margin:0px;
	padding:6px 0px 6px 6px;
	border-bottom:1px solid #7e935e;
	background-color:#b3df8f;
	color:#203301;
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
}
#rightContainerInner {
	background-color:#fff;
	padding:0px;
	margin:0;
}
/*Mid Section Layout CSS  */


/* Left Navigation */

#leftNav {
	padding:0px;
	margin:0px;
	border:0px solid #f00;
	background-color:#cedb9c;
}
#leftNav ul.leftLinks {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0px;
	padding:0px;
	list-style-type:none;
}
#leftNav ul.leftLinks li {
	margin:0px;
	padding:0px;
	font-weight:normal;
	font-size:11px;
	list-style-type:none;
}
#leftNav ul.leftLinks li a {
	background-color:#fff;
	display:block;
	color:#565656;
	cursor:pointer;
	margin:0px;
	margin-bottom:0px;
	padding:10px 3px 11px 10px !important;
	text-decoration:none;
	border-bottom:1px solid #e3e3e3;
}
#leftNav ul.leftLinks li a:hover {
	background-color:#fff;
	color: #96b92d;
	text-decoration:none;
}
#leftNav ul.leftLinks li a.selected {
	background-color:#fff;
	color: #96b92d;
	text-decoration:none;
}
#leftNav ul.leftLinks li a.selected:hover {
	background-color:#739801;
	color: #96b92d;
	text-decoration:none;
}
#leftNav ul.leftLinks li ul {
	margin:0px;
	padding:0px;
	font-weight:normal;
	font-size:11px;
	list-style-type:none;
}
#leftNav ul.leftLinks li ul li a {
	background-color:#272727;
	display:block;
	color:#fff;
	cursor:pointer;
	margin:0px;
	padding:7px 3px 7px 17px !important;
	text-decoration:none;
 text-transform:;
	border-bottom:0px solid #fff;
}
#leftNav ul.leftLinks li ul li a:hover {
	background-color:#272727;
	color: #94ba1e;
	text-decoration:none;
}
#leftNav ul.leftLinks li ul li a.selected {
	background-color:#272727;
	color: #94ba1e;
	text-decoration:none;
}
#leftNav ul.leftLinks li ul li a.selected:hover {
	background-color:#272727;
	color: #94ba1e;
	text-decoration:none;
}
/*Left Navigation*/


#midContainer {
	border:0px solid #f00;
	margin:0px;
	padding:0px;
	background-color:#fff;
	padding:14px 24px 0px 24px !important;
	width:955px !important;
	_width:1003px;
	margin-bottom:20px !important;
	height:90%;
	min-height:335px;
}
#leftPane {
	float:left;
	margin:0px;
	padding:0px;
	width:230px;
	background-color:#fff;
	margin-right:13px;
	/*height:100%;*/
	margin-bottom:20px;
}
#rightPane {
	width:710px !important;
	margin:0px;
	padding:0px;
	float:left;
	border:0px solid #e0e4ed;
	/*height:100%;*/
	background-color:#fff;
}


/* Login Page CSS  */

.login {
	background:url(../images/loginPage-bg.jpg) no-repeat;
	height:244px;
	width:326px;
	margin:200px auto;
	vertical-align:top;
	padding:0px;
	_width:326px;
	_padding-left:15px;
}
.login table td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
/* Login Page CSS  */

.MidSection {
	border:1px solid #b6b5b5;
	border-bottom:0px solid #b6b5b5;
	padding:8px 11px;
	font-size:12px;
	height:145px;
}
/* Top Navigation */

#topNav {
	font-family:verdana, Arial, Helvetica, sans-serif;
	width:979px;
	clear:both;
	margin:0px 0px 0px 0px !important; 
	padding:0px 0 0px 24px;
	*padding:0px 0 0px 24px; /* IE 7 DOM fixing */
	float:left;
	text-align:left;
	_width:1003px;
	border:0px solid #ff0;
}
#topNav .leftBlock {
	width:60%;
	margin:0;
	padding:0;
	float:left;
	text-align:left;
}
#topNav .rightBlock {
	width:30%;
	margin:0;
	padding:0;
	float:right;
	text-align:right;
	padding:5px 24px 3px 0;
	color:#878786;
}
#topNav .rightBlock a {
	color:#96b92d;
	text-decoration:none;
}
#topNav .rightBlock a:hover {
	color:#878786;
	text-decoration:none;
}
#topNav .leftBlock ul.topMenu {
	font-family:verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:auto;
}
#topNav .leftBlock ul.topMenu li {
	margin:0px;
	padding:0px;
	font-weight:bold;
	font-size:11px;
	display:inline!important;
}
#topNav .leftBlock ul.topMenu li a {
	background-color:#e3e3e3;
	display:inline-block;
	color: #3e3e3e;
	cursor:pointer;
	margin:0px;
	padding:8px 10px 8px 10px;
	text-decoration:none;
	font-weight:normal;
}
#topNav .leftBlock ul.topMenu li a:hover {
	background-color:#36597a;
	color:#fff;
	text-decoration:none;
}
#topNav .leftBlock ul.topMenu li a.selected, #topNav .leftBlock ul.topMenu li a.selected:hover {
	background-color:#36597a !important;
	color:#fff;
	text-decoration:none;
	padding:8px 10px 8px 10px;
}

#topNav .rightBlock ul.topMenu li a {
	background-color:#e3e3e3;
	display:inline-block;
	color: #3e3e3e;
	cursor:pointer;
	margin:0px;
	padding:8px 10px 8px 10px;
	text-decoration:none;
	font-weight:normal;
}
#topNav .rightBlock ul.topMenu li a:hover {
	background-color:#36597a;
	color:#fff;
	text-decoration:none;
}
#topNav .rightBlock ul.topMenu li a.selected, #topNav .rightBlock ul.topMenu li a.selected:hover {
	background-color:#36597a !important;
	color:#fff;
	text-decoration:none;
	padding:8px 10px 8px 10px;
}
/* Top Navigation  */

ul.listing {
	margin:0;
	padding:0;
	list-style-position:outside;
	list-style-type:none;
}
ul.listing li {
	margin:0;
	padding:0;
	background:url(../images/list-dot.gif) no-repeat 0px 5px;
	padding-left:11px;
	padding-bottom:7px;
	color:#565656;
	font-size:11px;
}
ul.listing li a {
	color:#96b92d;
	text-decoration:none;
}
ul.listing li a:hover {
	color:#565656;
	text-decoration:underline;
}
/* Breadcrumb   */
#breadcrumb {
	background:#fff;
	color:#333;
	padding:5px 0px 4px 6px;
	clear:both;
	font-size:12px;
	border:0px solid #f00;
}
#breadcrumb a {
	text-decoration:none;
	color:#ff6c00;
}
#breadcrumb a:hover {
	text-decoration:underline;
	color:#333;
}
/* Breadcrumb   */
 


/* utility classes */

.left {
	float: left;
}
.right {
	float: right;
}
.clearer {
	clear: both;
	height: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
	font-size: 0;
}
.gap {
	clear: both;
	height: 20px;
	line-height: 0;
	padding: 0;
	margin: 0;
	font-size: 0;
}
.lessGap {
	clear: both;
	height: 5px;
	line-height: 5px;
	padding: 0;
	margin: 0;
	font-size: 0;
	background:#fff;
}
.goTopLink {
	background:url(../images/top-icon.gif) no-repeat 0px 5px;
	padding-left:12px;
	border:none!important;
	outline:none !important;
	margin-top:10px;
	display:inline-block;
	margin-bottom:0px;
}
.mandatory {
	color:#F00 !important;
	font-size:100%;
	float:right
}
.clsError {
	color:#f00 !important;
	font-size:11px;
}
.red {
	color:#F00 !important;
	font-size:100%;
}
/*utility classes */


/* All Table's CSS  */

.form-table {
	border-collapse:collapse;
	font-size:11px;
	border:solid 1px #b4bfd1;
	color:#565656;
}
.form-table th {
	background-color:#36597a;
	color:#fff;
	text-align:left;
	padding:10px 5px;
	font-size:11px;
}
.form-table th.heading {
	background-color:#e1e1e1;
	color:#000;
	text-align:left;
	padding:6px;
	font-size:13px !important;
	color:#000;
	font-size:13px;
}
.form-table td {
	background-color:#f3f3f3;
	padding:6px;
	border:solid 1px #b4bfd1;
}
.form-table tr.alt td {
	background-color:#fff;
}
.form-table tr.buttons td {
	background-color:#d3e8ff;
}
.form-table tr.last td {
	border-bottom:solid 1px #bbbs;
}
.form-table td.labelCol {
	font-weight:bold;
}
.zero {
	padding:0 !important;
}
.noborder td {
	border:none !important;
	padding:3px !important;
}
.noborder td label{
	border:0px solid #f00!important;
	padding:0px 0px 8px 0px;
	vertical-align:top;
}
.pager, .pager table{
	border-top:1px solid #b4bfd1 !important;
	border-bottom:1px solid #b4bfd1 !important;
	padding:3px !important;
	text-align:right !important;
}
.pager table{
	text-align:right !important;
	border:none !important;
	float:right;
}
/*.grid-table {
	border-collapse:collapse;
	border:0px solid #b4bfd1;
	font-size:11px;
}
.grid-table th {
	background-color:#7188a4;
	color:#fff;
	text-align:left;
	padding:6px;
	font-size:11px;
	border-bottom:0px solid #bab9b9;
	line-height:16px;
	vertical-align:top;
}
.grid-table th a{
	color:#fff !important;
	text-decoration:underline;
}
.grid-table tr.head td{
	background-color:#7188a4 !important;
	color:#fff !important;
	text-align:left;
	padding:6px;
	font-size:11px;
	font-weight:bold;
	border-bottom:0px solid #bab9b9;
}
.grid-table th .noborder td {
	background-color:transparent !important
}

.grid-table th a {
	color:#565656;
	text-decoration:underline;
}
.grid-table th a:hover {
	color:#565656;
}
.grid-table td a {
	color:#565656;
	text-decoration:underline;
}
.grid-table td a:hover {
	color:#565656;
	text-decoration:underline;
}
.grid-table td {
	background-color:#fff !important;
	padding:3px;
	border:0px solid #b4bfd1;
	font-size:11px;
	vertical-align:top;
	line-height:16px;
}
.grid-table tr.alt td {
	background-color:#e0e4ed !important;
}
.grid-table tr.last td {
	border-bottom:solid 0px #cccccc;
}
.grid-table ul {padding:0px 0px 0px 14px; margin:0px 0px 0px 14px;}
*/
.grid-table {
	font-size:11px;
	border-collapse:collapse;
	border:0px solid #b4bfd1;
	line-height:16px;
}
.grid-table th {
	background-color:#7188a4;
	color:#fff;
	text-align:left;
	padding:6px;
	font-size:11px;
	vertical-align:top;
}
.grid-table th a{
	color:#fff !important;
	text-decoration:underline !important;
}
.grid-table th a:hover{
	text-decoration:none !important;
}
.grid-table tr.head td{
	background-color:#7188a4!important;
	color:#fff!important;
	text-align:left;
	padding:6px;
	font-size:11px;
	font-weight:bold;
	vertical-align:top;
}
.grid-table th .noborder td {
	background-color:transparent !important
}
.grid-table th .noborder td {
	background-color:transparent !important
}
.grid-table td a {
	color:#565656;
	text-decoration:underline;
}
.grid-table td a:hover {
	color:#565656;
	text-decoration:none;
}
.grid-table td {
	background-color:#fff;
	padding:6px;
	font-size:11px;
	vertical-align:top;
	border:0px solid #b4bfd1;
}
.grid-table tr.alt td {
	background-color:#f8f9f9;
}
.grid-table ul {padding:0px 0px 0px 14px; margin:0px 0px 0px 14px;}


ul#improved{	
	 margin:0;
	 padding:0;
	 list-style:none;
}
ul#improved li {
	margin:0;
	padding:0;
	margin-bottom:0px;
}

ul#improved li a.head {
	background-color:#96b92d !important;
	padding:5px;
	border:1px solid #ccc;
	font-size:11px;
	vertical-align:top;
	display:block;
	color:#fff;
	width:412px !important;
}















/*  All Table's CSS  */

/* Second level tabs CSS */
.border {
	border-bottom:2px solid #7e935e;
	margin:0;
	padding:0px;
	font-size:13px;
}
ul.buttons {
	list-style-type:none;
	margin:0;
	padding:0;
}
ul.buttons li {
	margin:0;
	padding:0;
}
ul.buttons li a {
	text-decoration:none;
	display:inline;
	background:#e5e5e5;
	padding:5px 20px 5px 20px;
	line-height:26px;
	color:#000;
}
ul.buttons li a:hover {
	text-decoration:none;
	background:#7e935e;
	color:#fff;
}
ul.buttons li a.selected {
	background:#7e935e;
	padding:5px 20px 5px 20px;
	color:#fff;
	margin:0;
	font-weight:bold;
}
ul.buttons li a.selected:hover {
	background:#7e935e;
	color:#fff;
}
/* Second level tabs CSS */

/*  Button CSS  */

.button {
	color: #fff;
	font-size:11px;
	font-weight:normal;
	background:#36597a;
	cursor:pointer;
	padding:5px 12px 5px 12px;
	height:28px;
	border:0px solid #484848;
	outline:none;
	overflow:visible;
}
.button:hover {
	BACKGROUND: #333;
	COLOR: #fff
}
*:first-child+html .button {
	color: #fff;
	font-size:11px;
	font-weight:normal;
	background:#36597a;
	cursor:pointer;
	padding:5px 12px 5px 12px;
	height:28px;
	border:0px solid #484848;
	outline:none;
	overflow:visible;
}
*:first-child+html .button:hover {
	BACKGROUND: #333;
	COLOR: #fff;
}
.rightBtnContainer {
	margin:20px 0px 5px 0px;
	padding:0px !important;
	float:right;
	text-align:right;
	clear:both;/*
	padding-right:49px !important;*/
}

.buttonSmall {
	color: #fff;
	font-size:10px;
	font-weight:normal;
	background:#36597a;
	cursor:pointer;
	padding:2px 8px 2px 8px;
	height:17px;
	border:0px solid #484848;
	outline:none;
	overflow:visible;
}
.buttonSmall:hover {
	BACKGROUND: #333;
	COLOR: #fff
}
*:first-child+html .buttonSmall {
	color: #fff;
	font-size:10px;
	font-weight:normal;
	background:#36597a;
	cursor:pointer;
	padding:2px 8px 2px 8px;
	height:17px;
	border:0px solid #484848;
	outline:none;
	overflow:visible;
}
*:first-child+html .buttonSmall:hover {
	BACKGROUND: #333;
	COLOR: #fff;
}






/*  Button CSS  */


/*  carousel CSS  */

#carouselKT {
	width:985px;
	height:284px;
	margin:0;
	padding:8px !important;
	border:1px solid #353531;
	clear:both;
	position:relative !important;
	_width:1003px;
	_height:300px;
}
.slider_arrow_left {
	Z-INDEX: 50 !important;
	POSITION: absolute;
	WIDTH: 33px;
	FLOAT: left;
	HEIGHT: 55px;
	CURSOR: pointer !important;
	LEFT: 8px;
	BACKGROUND: url(../images/left_arrow2.png) no-repeat left top;
	bottom:124px;
}
.slider_arrow_right {
	Z-INDEX: 50;
	POSITION: absolute;
	WIDTH: 33px;
	FLOAT: right;
	HEIGHT: 55px;
	CURSOR: pointer;
	right: 6px;
	bottom:124px;
	BACKGROUND: url(../images/right_arrow2.png) no-repeat left top;
}
.slider_selector {
	Z-INDEX: 50;
	POSITION: absolute;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px 0px 0px 5px;
	BOTTOM: 10px;
	RIGHT: 10px;
	LIST-STYLE-IMAGE: none
}
.slider_selector_dis LI {
	Z-INDEX: 50;
	CURSOR: default !important
}
#yourSliderId {
	WIDTH:985px!important;
	HEIGHT: 284px;
	float:left;
	POSITION: relative !important;
	LIST-STYLE-TYPE: none !important;
	MARGIN: 0px;
	OVERFLOW: hidden !important;
	LIST-STYLE-IMAGE: none !important;
}
#yourSliderId LI {
	POSITION: absolute;
	MARGIN: 0px;
	WIDTH: 985px !important;
	DISPLAY: none;
	FLOAT: left;
	padding:0!important;
}
#yourSliderId LI.current {
	Z-INDEX: 2 !important;
	DISPLAY: block
}
/*  carousel CSS  */



.spotlight {
	Z-INDEX: 1000;
	POSITION: absolute;
	WIDTH: 281px;
	FLOAT: left;
	HEIGHT: 137px;
	top:71px;
	left:11px;
}
.c-spot-hd {
	POSITION: absolute;
	TOP: 0px;
	LEFT: 0px
}
#spotlight-1 {
	MARGIN:0px;
}
#spotlight-1-content {
	BORDER: #7e7976 0px solid;
	POSITION: absolute;
	WIDTH: 281px;
	BOTTOM: -1px;
	HEIGHT: 137px;
	OVERFLOW: hidden;
	LEFT: -1px;
}
.spotlight-slideup-1 {
	BORDER-TOP: #f00 0px solid !important;
}
#spotlight-2 {
	MARGIN:0px
}
#spotlight-2-content {
	BORDER: #7e7976 0px solid;
	POSITION: absolute;
	WIDTH: 281px;
	BOTTOM: -1px;
	HEIGHT: 137px;
	OVERFLOW: hidden;
	LEFT: -1px;
}
.spotlight-slideup-2 {
	BORDER-TOP: #f00 0px solid !important;
}
#spotlight-3 {
	MARGIN:0px
}
#spotlight-3-content {
	BORDER: #7e7976 0px solid;
	POSITION: absolute;
	WIDTH: 281px;
	BOTTOM: -1px;
	HEIGHT: 137px;
	OVERFLOW: hidden;
	LEFT: -1px;
}
.spotlight-slideup-3 {
	BORDER-TOP: #f00 0px solid !important;
}
/* Footer */

#footer {
	clear:both !important;
	background-color:#003152;
	margin:0 auto;
	color:#fff;
	text-align:right;
	padding:12px 10px;
	font-weight:normal;
	font-size:11px;
	float:right;
	_float:none;
	width:983px;
	_width:1003px;/* For fixing IE6 DOM bug   */
}
/* Footer */



.contentAccordion {
	display:none;
}
#improved li {
	position:relative;
	overflow:hidden;
}
/*  carousel CSS 2  */

#carouselKT2 {
	width:734px;
	height:450px;
	margin:0;
	padding:10px 0;
	border:0px solid #353531;
	clear:both;
	position:relative !important;
}
.slider_arrow_left2 {
	Z-INDEX: 50 !important;
	POSITION: absolute;
	WIDTH: 40px;
	HEIGHT: 76px;
	CURSOR: pointer !important;
	LEFT: 0px;
	BACKGROUND: url(../images/left_arrow-plain.png) no-repeat left top;
	bottom:44%;
	FLOAT: left;
}
.slider_arrow_right2 {
	Z-INDEX: 50 !important;
	POSITION: absolute;
	WIDTH: 40px;
	HEIGHT: 76px;
	CURSOR: pointer;
	right: 0px;
	BACKGROUND: url(../images/right_arrow-plain.png) no-repeat left top;
	bottom:44%;
	FLOAT: right;
}
.slider_selector2 {
	Z-INDEX: 50;
	POSITION: absolute;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px 0px 0px 5px;
	BOTTOM: 10px;
	RIGHT: 10px;
	LIST-STYLE-IMAGE: none
}
.slider_selector2_dis LI {
	Z-INDEX: 50;
	CURSOR: default !important
}
#yourSliderId2 {
	WIDTH:634px!important;
	HEIGHT: 450px;
	POSITION: relative !important;
	LIST-STYLE-TYPE: none !important;
	MARGIN: 0px auto;
	OVERFLOW: hidden !important;
	LIST-STYLE-IMAGE: none !important;
}
#yourSliderId2 LI {
	POSITION: absolute;
	MARGIN: 0px auto;
	WIDTH: 634px !important;
	DISPLAY: none;
	padding:0!important;
}
#yourSliderId2 LI.current {
	Z-INDEX: 2 !important;
	DISPLAY: block
}
/*  carousel CSS  */










.basic {
	WIDTH:240px;
	float:left;
}
.basic div {
	BACKGROUND-COLOR: #272727;
	color:#FFF;
	WIDTH:240px;
}
.basic A {
	background-color:#424141;
	display:block;
	font-size:12px;
	color:#fff;
	cursor:pointer;
	margin:0px;
	margin-bottom:0px;
	padding:10px 3px 11px 10px !important;
	text-decoration:none;
 text-transform:;
	border-bottom:1px solid #333;
 text-transform:;
}
.basic A:hover {
	background-color:#739801;
	color: #fff;
	text-decoration:none;
}
.basic A.selected {
	background-color:#739801;
	color: #fff;
	text-decoration:none;
}
.basic A.active {
	background-color:#foo !important;
	color: #fff !important;
	text-decoration:none;
}
ul.innerAccordion {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
ul.innerAccordion li {
	margin:0px;
	padding:0px;
	font-weight:normal;
	font-size:12px;
	list-style-type:none;
	background:#272727;
}
ul.innerAccordion li a {
	background-color:transparent !important;
	display:block;
	color:#fff;
	font-size:12px;
	cursor:pointer;
	margin:0px;
	margin-bottom:0px;
	padding:6px 3px 4px 14px !important;
	text-decoration:none;
 text-transform:;
	border-bottom:none !important;
	text-transform:none;
}
ul.innerAccordion li a:hover {
	color: #94ba1e !important;
	text-decoration:none;
}
ul.innerAccordion li a.selected {
 background-color:# !important;
	color: #94ba1e !important;
	text-decoration:none;
}
ul.innerAccordion li a.selected:hover {
	color: #94ba1e !important;
	text-decoration:none;
}



ul.subMenulist {
	margin:0;
	padding:0;
	list-style-position:outside;
	list-style-type:none;
	margin:0px 10px 10px 6px;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
ul.subMenulist li {
	margin:0;
	padding:0;
	color:#fff;
	margin-right:30px;
	display:inline-block;
	width:160px;
	//display:inline;
	//width:160px;
	//margin-right:20px;
}
ul.subMenulist li a {
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:5px;
	padding-left:0px;
	width:176px;
	margin:5px 0 0px 0px;
   //margin:0px 0 2px 0px;
   //width:170px;
   //border-bottom:0px solid #fff;
}
ul.subMenulist li a:hover {
	color:#fff;
	text-decoration:none;
}